.sidebar {
    height: 100vh;
    width:  10%;
    background-color: #222;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 4rem;
}
.sidebar a 
{
    color: #000;
    filter: invert(100%);
    font-size: 2rem;
    transition: .4s all ease;
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
}
.sidebar a:hover 
{
    transform: scale(1.1);
}

.sidebar-nav 
{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
}


.bank-logo 
{
    position: absolute;
    bottom: 2rem;
}
.sidebar-user 
{
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.342);
    text-transform: uppercase;
    border-radius: 12px;
    position: fixed;
    top: 1rem;
    left: 1rem;
}